
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}


audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}


progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}


button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

header {
  background: #f4e1d2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
input[type='text'] {
  width: 45%;
}
button[type='submit'] {
  width: 100%;
  border: solid 1px #111;
  background: #FFF;
  margin-top: 10px;
}

.item {
  margin-top: 20px;
  background: #FFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.item p {
  font-size: 18px;
  margin: 0;
}

.item div {
  width: 40%;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  transition: 0.3s ease all;
  border-bottom: solid 10px;
}
.item .vote-one {
  border-bottom-color: Indigo;
}

.item .vote-two {
  border-bottom-color: #ffef96;
}

.item > span {
  font-style: italic;
  color: #CCC;
}

.item div:hover {
  background: #EEE;
}

.item-enter, .item-appear {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.item-enter-active, .item-appear-active{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.item-leave{
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.item-leave-active{
  opacity: 0;
  transform: translate3d(0, 100%, 0);
}

.show-toggle{
  border: none;
  padding: 15px;
  padding-right: 30px;
  margin-bottom: 5px;
  background-color: Indigo;
  color: #ffef96;
  transition: 0.3s ease all;
}

.show-toggle:hover{
  cursor: pointer;
  color: Indigo;
  background-color: #ffef96;
}

.directions{
  margin-left: 26%;
  margin-right: 20%;
  text-align: center;
  color: #AAA;
}

.delete{
  background-color: white;
  border: none;
  border-left: 2px solid #EEE;
  padding: 20px;
  font-size: 24px;
  transition: 0.3s ease all;
}

.delete:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}
